<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', path='icons/favicon.png') }}">
</head>
<body>
    <div class="chat-container">
        <div class="chat-header">
            <h2>Login</h2>
        </div>
        <form method="POST">
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Пароль" required>
            <button type="submit">Login</button>
        </form>
        <p>Don't have an account yet? <a href="{{ url_for('register') }}">Register</a></p>
    </div>
</body>
</html>
